Code
dconf
evolution
google-chrome
gthumb
htop
Insync
menus
nautilus
pulse
QtProject.conf
sublime-text
*.target.wants
tlpui
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
azote
cef_user_data
configstore
corectrl
CoreFreq
discord
evince
gconf
GIMP
goa-1.0
gtk-2.0
ibus
inkscape
jgit
Mendeley Reference Manager
neofetch
obs-studio
OpenRGB
OpenSCAD
pokemmo
remmina
RogueLegacy
simple-scan
sunshine
teamviewer
torbrowser
transmission-remote-gtk
VirtualBox
vlc
wireshark
xournalpp
xpra
kdenlive*
pavucontrol.ini
autostart
calibre
light
mimeapps.list
connections.db
freerdp
Pinta
dev-manager-desktop
ros.org
qt5ct
gtk-3.0/bookmarks
jellyfin.org
