[Unit]
Description=Automatically alternates container layouts between horizontal and vertical
PartOf=graphical-session.target
Wants=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/autotiling-rs
Restart=on-failure

[Install]
WantedBy=sway-session.target
