[Unit]
Description=Wallpaper & color manager for wlroots-based compositors and some X11 WMs
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=%h/.azotebg
Restart=on-failure

[Install]
WantedBy=graphical-session.target
