[Unit]
Description=An on-screen-keyboard input method for Wayland
PartOf=graphical-session.target
Wants=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/squeekboard
Restart=on-failure

[Install]
WantedBy=sway-session.target
