[Unit]
Description=Rotate Sway outputs based on current accelerometer orientation using iio-sensor-proxy
PartOf=graphical-session.target
Wants=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/sway-accel-rotate
Restart=on-failure

[Install]
WantedBy=sway-session.target
