[Unit]
Description=Idle management daemon for Wayland
Documentation=https://github.com/swaywm/swayidle
BindsTo=hyprland-session.target

[Service]
ExecStart=/usr/bin/swayidle -w
Restart=on-failure

[Install]
WantedBy=hyprland-session.target
