[Unit]
Description=Idle management daemon for Wayland
PartOf=graphical-session.target
Wants=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/swayidle -w 
Restart=on-failure

[Install]
WantedBy=sway-session.target
